@import 'tailwindcss';

html,
body,
#app {
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: none;
  border: none;
  background-color: transparent;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-200: #b9e6fe;
  --color-primary-300: #7cd8fd;
  --color-primary-400: #36c7fb;
  --color-primary-500: #1deaff;
  --color-primary-600: #0bb8e6;
  --color-primary-700: #068fa0;
  --color-primary-800: #086a7a;
  --color-primary-900: #0b5866;
  --color-secondary-50: #fff9ed;
  --color-secondary-100: #fff3c7;
  --color-secondary-200: #fde58a;
  --color-secondary-300: #fbd24e;
  --color-secondary-400: #fab71a;
  --color-secondary-500: #ffc318;
  --color-secondary-600: #e6a70d;
  --color-secondary-700: #b5820a;
  --color-secondary-800: #8d630e;
  --color-secondary-900: #72500f;
  --color-accent-50: #fdf2f8;
  --color-accent-100: #fce7f3;
  --color-accent-200: #fbcfe8;
  --color-accent-300: #f9a8d4;
  --color-accent-400: #f472b6;
  --color-accent-500: #fa2bc6;
  --color-accent-600: #e81aae;
  --color-accent-700: #c6128f;
  --color-accent-800: #a11073;
  --color-accent-900: #85125f;
  --color-purple-50: #f5f3ff;
  --color-purple-100: #ede9fe;
  --color-purple-200: #ddd6fe;
  --color-purple-300: #c4b5fd;
  --color-purple-400: #a78bfa;
  --color-purple-500: #713eff;
  --color-purple-600: #5d2dd8;
  --color-purple-700: #4c26b6;
  --color-purple-800: #3e2196;
  --color-purple-900: #341d7e;
}

.monaco-editor .lines-content {
  will-change: transform;
}

.monaco-editor .scroll-decoration {
  transform: translateZ(0);
}
