@import 'tailwindcss';

html,
body,
#app {
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: none;
  border: none;
  background-color: transparent;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-secondary-50: #fff1f4;
  --color-secondary-100: #ffe4ea;
  --color-secondary-200: #fecdda;
  --color-secondary-300: #fda4bc;
  --color-secondary-400: #fb5e8b;
  --color-secondary-500: #f53e78;
  --color-secondary-600: #e21c64;
  --color-secondary-700: #bf1155;
  --color-secondary-800: #9f124d;
  --color-secondary-900: #881348;
  --color-secondary-950: #4c0523;

  --color-primary-50: #eef8ff;
  --color-primary-100: #d9eeff;
  --color-primary-200: #bce1ff;
  --color-primary-300: #8ed0ff;
  --color-primary-400: #59b4ff;
  --color-primary-500: #439cff;
  --color-primary-600: #1b73f5;
  --color-primary-700: #145de1;
  --color-primary-800: #174bb6;
  --color-primary-900: #19428f;
  --color-primary-950: #142957;
}

.monaco-editor .lines-content {
  will-change: transform;
}

.monaco-editor .scroll-decoration {
  transform: translateZ(0);
}
