@import "tailwindcss";

html,
body,
#app {
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: none;
  border: none;
  background-color: transparent;
}

@custom-variant dark (&:where(.dark, .dark *));

.monaco-editor .lines-content {
  will-change: transform;
}

.monaco-editor .scroll-decoration {
  transform: translateZ(0);
}